* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: black;
  font-family: "Montserrat", sans-serif;
}

body {
  background-color: grey;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  -webkit-tap-highlight-color: transparent;
}

h1 {
  font-family: "Montserrat", sans-serif;
}

.card {
  padding: 50px;
  background-color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.card-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

.card-title > h1 {
  color: #000147;
  font-weight: 800;
  margin-bottom: 15px;
}

.card-title > p {
  font-family: "Montserrat", sans-serif;
  color: #8687a8;
}

.grid-price {
  display: grid;
  grid-template-columns: 1fr 2.5fr;
}

.grid-price-left {
  display: flex;
  justify-content: space-between;
  padding: 30px 30px;
  background-color: #f9f9fb;
  margin-bottom: 10px;
  border-radius: 10px;
}

.grid-price-left > img {
  width: 75px;
}

.grid-price-left > div > h2 {
  color: #000147;
  font-weight: 700;
  font-size: 1.5rem;
}

.grid-price-left > div > h3 {
  color: #5f30e2;
  font-weight: 600;
  font-size: 1rem;
}

.grid-price-right {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.grid-price-right > div {
  padding: 15px 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.grid-price-right > div > h2 {
  font-weight: 600;
  color: #00002d;
  font-size: 1em;
}

.grid-price-right > div > button {
  font-weight: 600;
  color: #5f30e2;
  background-color: #F5F1FF;
  outline: none;
  border: none;
  padding: 9px 6.5px;
  border-radius: 8px;

}

.grid-price-right > div > div {
  display: flex;
}

.grid-price-right > div > div > h1 {
  color: #000031;
  font-weight: 600;
  font-size: 1.55em;
}

.grid-price-right > div > div > h3 {
  padding-top: 10px;
  font-weight: 400;
  font-size: 0.75em;
  color: #7f80a3;
  margin-left: 5px;
}

.main-grid {
  background-color: #5f30e2;
  border-radius: 10px;
  display: grid;
  grid-template-columns: 1fr 2.5fr;
  width: 1000px;
}

.grid-titles {
  display: grid;
  grid-template-rows: repeat(5, 1fr);
  padding: 10px 30px;
}

.grid-titles > div > p {
  color: white;
  font-weight: 500;
  font-size: 0.9rem;
  align-self: center;
  padding: 30px 0;
}

.grid-titles > div:not(:last-child) {
  border-bottom: rgba(255, 255, 255, 0.25) 1px solid;
}

.grid-info {
  margin: 10px;
  background-color: white;
  border-radius: 10px;
  display: grid;
 
}

.grid-info > div {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.grid-info > div:not(:last-child) {
  border-bottom: lightgray 1px solid;
}

.grid-info > div > div {
  display: flex;
  justify-content: center;
}

.grid-info > div > div:not(:last-child) {
  border-right: lightgray 1px solid;
}

.grid-info > div > div > img {
  width: 25px;
}
